<?xml version="1.0" encoding="utf-8"?>
<manifest package="messi.lhj.com.projectnewtechnic"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- NFC权限声明 -->
    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature android:name="android.hardware.nfc"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ProjectNewTechnic"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".refreshAndreloadmore.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${umeng_key}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>

        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".headAndfoot.RecyclerViewActivity">
        </activity>
        <activity android:name=".zxing.CaptureActivity">
        </activity>
        <activity android:name=".circlehead.CircleHeadActivity">
        </activity>
        <activity android:name=".gaode.GaodeActivity">
        </activity>

        <service android:name="com.amap.api.location.APSService"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="10625b4fd8fda9ba1937c9b21a938199"/>

        <activity android:name=".progressbar.ProgressbarActivity">
        </activity>
        <activity android:name=".smoothdelete.SmoothDeleteActivity">
        </activity>
        <activity android:name=".SmallTest">
        </activity>
        <activity android:name=".sonic.SonicActivity">
        </activity>
        <activity android:name=".sonic.WebViewActivity">
        </activity>
        <activity android:name=".anim.AnimActivity">
        </activity>
        <activity android:name=".nfc.NFCDemoActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity">
        </activity>
    </application>

</manifest>